<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.dao.mybatis.mappers.EquipoMapper">
    
    <resultMap id="EquipoResult" type="Equipo">
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='laboratorioID' column='laboratorioId'/>
        <result property='activo' column='activo'/>
    </resultMap>

    <select id="buscarEquipos" resultMap="EquipoResult" parameterType="int">
        SELECT
            e.id,
            e.nombre,
            e.laboratorioID,
            e.descripcion
        FROM
            equipo as e
        ORDER BY e.id ASC

    </select>

    <select id="mayor" resultMap="EquipoResult"
            parameterType="int">
		select e.id
		from equipo as e
		where e.id=(select max(e.id) from equipo as e)

	</select>


    <insert id="registrarEquipo" parameterType="edu.eci.cvds.samples.entities.Equipo">
        insert into equipo(activo,nombre,laboratorio) values (True,#{nombre},Null)
    </insert>

    <select id="equipo" resultMap="EquipoResult" parameterType="int">
        SELECT
            e.id,
            e.nombre,
            e.laboratorio,
            e.activo,
            e.descripcion
        FROM
            equipo as e
        WHERE e.id=#{id}
    </select>


</mapper>