<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.dao.mybatis.mappers.EquipoMapper">
    
    <resultMap id="EquipoResult" type="Equipo">
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='laboratorio' column='laboratorio'/>
        <result property='activo' column='activo'/>
    </resultMap>

    <select id="buscarEquipos" resultMap="EquipoResult" parameterType="int">
        SELECT
            e.id,
            e.nombre,
            e.laboratorio,
            e.descripcion
        FROM
            equipo as e
        ORDER BY e.id ASC

    </select>

    <select id="mayor" resultMap="EquipoResult"
            parameterType="int">
		select e.id
		from equipo as e
		where e.id=(select max(e.id) from equipo as e)

	</select>


    <insert id="registrarEquipo" parameterType="edu.eci.cvds.samples.entities.Equipo">
        INSERT INTO equipo (nombre, descripcion, laboratorio, activo) VALUES(#{nombre}, #{descripcion}, #{laboratorioId}, false)
    </insert>

    <select id="equipo" resultMap="EquipoResult" parameterType="int">
        SELECT
            e.id,
            e.nombre,
            e.laboratorio,
            e.activo,
            e.descripcion
        FROM
            equipo as e
        WHERE e.id=#{id}
    </select>

    <select id="reporteEquipos" resultMap="EquipoResult" parameterType="int">
        SELECT id, nombre, descripcion, laboratorio, activo FROM equipo
    </select>

    <update id="modificarEquipo" parameterType="edu.eci.cvds.samples.entities.Equipo">
        UPDATE equipo SET nombre=#{nombre},  laboratorio=#{laboratorio}, activo=#{activo} WHERE id=#{id}
    </update>

    <update id="darDeBajaEquipo" parameterType="edu.eci.cvds.samples.entities.Equipo">
        UPDATE equipo SET activo=false WHERE id=#{equipo}
    </update>

    <update id="asociar" parameterType="map">
        UPDATE Equipo as e set laboratorio = (SELECT l.id from laboratorio as l where l.nombre = #{nombrelab}) where e.id = #{equipoid}
    </update>

    <update id="desasociar" parameterType="map">
        update Equipo set laboratodio = null where id = #{id}
    </update>



</mapper>