<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.dao.mybatis.mappers.LaboratorioMapper">

    <resultMap id="LaboratorioResult" type="Laboratorio">
        <id property="id" column="id" />
        <result property="nombre" column="nombre" />
        <result property="descripcion" column="descripcion" />
        <result property="capacidadequipos" column="capacidadequipos" />
        <result property="activo" column="activo" />
        <result property="fechadecreacion" column="fechadecreacion" />
        <result property="fecahdecierre" column="fechadecierre" />
        <collection property="equipos" ofType="equipo"></collection>
    </resultMap>

    <select id="buscarLaboratorios" resultMap="LaboratorioResult" parameterType="int">
        SELECT
            l.id,
            l.nombre,
            l.descripcion,
            l.capacidadEquipos
        FROM
            laboratorio as l
        ORDER BY l.id ASC
    </select>

    <select id="reporteLaboratorios" resultMap="LaboratorioResult" parameterType="int">
        SELECT l.nombre ,l.capacidadequipos ,l.activo ,l.fechadecreacion ,l.fechadecierre
        FROM laboratorio as l
    </select>

    <insert id="crear" parameterType="edu.eci.cvds.samples.entities.Laboratorio">
        insert into laboratorio(id,nombre,descripcion,capacidadequipos,activo) values (#{id},#{nombre},#{descripcion},#{capacidadequipos},True)
    </insert>


</mapper>